/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* end reset */

@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 80%;
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'Days One', sans-serif;
  font-size: 400%;
  color: white;
  margin-top: 4rem;
}

.navbar {
  /* height: 5rem; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.character-button, .movie-button, .planet-button, .wildlife-button {
  margin: 1%;
  height: 3rem;
  width: 17rem;
  border-radius: 20rem;
  background-color: black;
  border: solid yellow;
  font-family: 'Days One', sans-serif;
  color: white;
  font-size: 150%
}

.prompt {
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 200%;
}

.quiz-prompt {
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 200%;
  margin-top: 2rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
}

.character-quiz-button, .planet-quiz-button, .animal-quiz-button, .start-quiz {
  border: solid yellow 0.09rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
  width: 12rem;
  height: 2rem;
  font-size: 1.2rem;
  margin: 1%;
  font-family: 'Days One', sans-serif;
}

.quiz-back {
  margin: 1%;
  /* margin-right: 84rem; */
  align-self: center;
  border: solid yellow 0.09rem;
  width: 5rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1.7rem;
}

.score {
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 1rem;
  align-self: center;
  margin: 1%;
  /* margin-left: 80rem; */
}

.start-quiz {
  width: 6rem;
  border: solid yellow 0.09rem;
  margin-left: auto;
  margin-right: auto;
}

.next-question, .play-again {
  width: 10rem;
  height: 1.7rem;
  border: solid yellow 0.09rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
  font-family: 'Days One', sans-serif;
  font-size: 1rem;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.quiz-photo {
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.quiz-title {
  font-family: 'Days One', sans-serif;
  color: white;
  font-size: 2rem;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-option {
  border: solid yellow 0.09rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
  width: 60%;
  height: 2rem;
  font-size: 1.2rem;
  font-family: 'Days One', sans-serif;
  margin: 0.5rem;
}

.signup-login {
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 1rem;
}

.signup, .login, .logout {
  width: 5rem;
  height: 1.5rem;
  margin: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentials {
  width: 15rem;
  margin: 0.2rem;
  font-size: 1.5rem;
}

.order {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.2rem;
  margin-bottom: 1rem;
}

select {
  margin: 1rem;
}

.add-character, .add-planet, .add-animal {
  margin: 1%;
  width: 15rem;
  height: 3rem;
  border: solid yellow;
  background-color: black;
  border-radius: 10rem;
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 1.3rem;
}

.form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.input {
  margin: 0.5rem;
  height: 1.5rem;
  border-radius: 3rem;
  text-indent: 0.5rem;
  font-size: 1.2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.category {
  align-self: center;
  text-align: center;
  width: 9rem;
  background-color: transparent;
  font-family: 'Days One', sans-serif;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.submit {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  border-radius: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

.pending-button {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 1.5rem;
  border-radius: 3rem;
  width: 14rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.character-container {
  border-top: none;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.search-character, .search-movie, .search-planet, .search-animal {
  background-image: url('https://cdn4.iconfinder.com/data/icons/basic-app/1000/BASICAPP_1-06-512.png');
  background-position: left;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  width: 80%;
  height: 2rem;
  align-self: center;
  border: black;
  font-size: 70%;
  border-radius: 3rem;
  text-indent: 2rem;
}

.instructions {
  font-family: arial;
  color: white;
  font-weight: bold;
}

.back {
  margin-top: 0.5rem;
  border: solid yellow 0.09rem;
  width: 5rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1.7rem;
}

.character-card {
  border: solid yellow;
  background-color: transparent;
  height: 20rem;
  width: 22rem;
  margin: 2rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}

.card-back {
  transform: rotateY(180deg);
}

.flip-card {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.delete-button, .update-button {
  margin: 0.5rem;
  border: solid yellow 0.09rem;
  width: 5rem;
  background-color: black;
  color: white;
  border-radius: 3rem;
  font-size: 0.8rem;
  font-weight: bold;
  height: 1.7rem;
}

.card-header {
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.character-image {
  height: 10rem;
  width: 17rem;
}

.char-info {
  font-family: arial;
}

.movies {
  font-weight: bold;
}

.quote {
  font-size: 1.5rem;
}

.movie-image {
  height: 15rem;
  width: 10rem;
}

.planet-image {
  height: 10rem;
  width: 17rem;
}

.planet-info {
  font-family: arial;
}

.animal-image {
  height: 10rem;
  width: 17rem;
}

.animal-info {
  font-family: arial
}

/* .opening-crawl {
  font-size: 1rem;
  font-weight: bold;
} */

.openingcrawl-p {
  text-align: left;
}

.card-front {
  font-family: 'Days One', sans-serif;
}

.card-back {
  color: white;
  font-family: 'Hind', sans-serif;
  font-family: 'Days One', sans-serif;
  perspective: 500px;
  overflow: hidden;;
}

/* .crawling-div {
  width: 20rem;
} */

.crawl-effect {
  width: 110%;
  font-size: 1rem;
  height: 40rem;
  position: relative;
  bottom: -30rem;
  transform-origin: 50% 100%;
  animation: crawl 300s linear;
  line-height: 1rem;
}

.fade {
  position: relative;
  width: 100%;
  height: 12rem;
  top: 0rem;
  background-image: linear-gradient(0deg, transparent, black 40%);
  z-index: 10;
}

.no-display {
  display: none;
}


/* .crawl-effect {
  position: relative;
  overflow: hidden;
  bottom: -30rem;
  transform-origin: 50% 100%;
  animation: crawl 30s linear;
} */

@keyframes crawl {
  0%{
    top: 9rem;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* .opening-crawl {
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

.opening-crawl:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

.opening-crawl {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

@keyframes scroll {
  0% {
      top: 100%;
  }
  100% {
      top: -170%;
  }
} */